%COMMAND% %REPO% %DIST% main restricted universe multiverse
%COMMAND% %REPO% %DIST%-updates main restricted universe multiverse
%COMMAND% %REPO% %DIST%-security main restricted universe multiverse
%COMMAND% %REPO% %DIST%-proposed main restricted universe multiverse
%COMMAND% %REPO% %DIST%-backports main restricted universe multiverse
%COMMAND% http://archive.canonical.com/ubuntu %DIST% partner
