%COMMAND% http://%PREFIX%archive.ubuntu.com/ubuntu %DIST% main restricted universe multiverse
%COMMAND% http://%PREFIX%archive.ubuntu.com/ubuntu %DIST%-updates main restricted universe multiverse
%COMMAND% http://%PREFIX%archive.ubuntu.com/ubuntu %DIST%-security main restricted universe multiverse
%COMMAND% http://%PREFIX%archive.ubuntu.com/ubuntu %DIST%-proposed main restricted universe multiverse
%COMMAND% http://%PREFIX%archive.ubuntu.com/ubuntu %DIST%-backports main restricted universe multiverse
%COMMAND% http://archive.canonical.com/ubuntu %DIST% partner
